@media only screen and (min-width: 479px) {
    
    .container1 {
        display: none;
    }

    .navlarge {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainpic {
        display: none;
    }

    .mainpicalt {
        align-content:left;
        width:50%;
        height: 700px;
        float: right;
        display: block;
    }   

    .container3, .container4 {
        display: none;
    }
    
    /* .container3items, .container4items  {
         flex: 1;
    } */

    .container5 {
        display: flex;
        align-items: flex-start;
        height: 800px;
        flex-direction: column;
        align-content: center;
        padding: 5px 5px 0 10px;
    }

    .container5items  {
        flex: 1;
   }
/* this is for resizing the little icons */
   .samesize {
       width: 35px;
       height: 35px;
   }

   .smaller {
       display: block;
       font-size: 0.5em;
       font-style: italic;
       padding-top: 5px;
   }

}    